shizuka/config.py
shizuka/*.session
shizuka/*.session-journal
shizuka/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
shizuka/modules/helper_funcs/temp.txt
shizuka/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
shizuka.session-journal
updates.txt
*.exe
